.products{
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: -900px;
}

.products h1{
    margin: 35px 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fcf1d8;    
}

.products .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 25px 0;
    

}

.products .box .card{
    width: 290px;
    height: 440px;
    box-shadow: 0 0 8px #fcf1d8;;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #f6f6f6;
    
}
.products .box .card .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .box .card .image img{
    width: 150px;
    margin: 15px 0;
    transition: 0.3s;
}

.products .box .card:hover .image img{
    transform: scale(1.1);
}


.products .box .card .products_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.products .box .card .products_text p{
    color: #91919191;
    line-height: 21px;
    margin: 8px 0;
}

.products .box .card .products_text h3{
    margin: 7px 0;
}

.products .box .card .products_text .btn{
    text-decoration: none;
    padding: 10px 20px;
    background: #a09374;
    color: white;
}
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}

.icons a{
    color:#f6f6f6;
}